.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust 100px to match the height of your header and footer */
}

.form-style {
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Add maximum width to prevent form from becoming too wide */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-style label,
.form-style input {
  display: block;
  margin-bottom: 10px;
}

.form-style input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-style input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    height: auto; /* Change height to auto for smaller screens */
    padding: 20px; /* Add padding to the container */
  }

  .form-style {
    width: 100%; /* Set width to 100% for smaller screens */
  }
}
