.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    text-align: center;
  }
  
  .input-container {
    width: 50px; /* Set the desired width */
  }
  
  .input-container input[type="text"] {
    width: 50%; /* Ensure the input takes full width of the container */
    padding: 8px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 16px;
  }
  